.testComponent-container {
  height: 500px;
  width: 500px;
  margin: 0;
  padding: 0;
}

.map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}